.paper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 1px;
}

.formcss {
  width: 100%;
  margin-top: 1px;
}

.submit {}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ade6f6, #0072ff);
  animation: bg-animation 20s ease infinite;
}
